body{
    background-color: white
}

#titulo-principal{
    background-color: #0C7C59;
    color: white;
    text-align: center;
}
.assunto{
    color: #58a4b0dc;
    text-align: right;
}
.titulo{
    color: #0C7C59;
}







